[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
coverage = "*"
django = "*"
django-analytical = "*"
django-bootstrap-breadcrumbs = "*"
django-bootstrap4 = "*"
django-cookie-law = "*"
django-heroku = "*"
django-tables2 = "*"
django-timezone-field = "*"
gunicorn = "*"
pillow = "*"
psycopg2-binary = "*"
setuptools-scm = "*"
social-auth-app-django = "*"
whitenoise = "*"
markdown2 = "*"

[dev-packages]

[requires]
python_version = "3.6"
