[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-heroku = "*"
gunicorn = "*"
django = "*"
coverage = "*"
social-auth-app-django = "*"
django-cookie-law = "*"
django-bootstrap4 = "*"
django-fontawesome = "*"
django-analytical = "*"
pillow = "*"
django-tables2 = "*"
django-bootstrap-breadcrumbs = "*"
django-timezone-field = "*"
whitenoise = "*"

[dev-packages]

[requires]
python_version = "3.6"
