{% load tracker_extras %}

<div class="col-xs-6 col-sm-6 col-md-4 mb-3">
    <div class="card">
        <div class="card-body text-left">
            <div class="card-title">
                <div class="row">
                    <h5 class="col-8" >{{ project.name }}</h5>
                    {% if not organization %}
                        <small class="col-4 text-muted text-right">{{ project.organization }}</small>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-6">
{#                    <a href="#" class="card-link"><i class="fa fa-bar-chart"></i></a>#}
                    <a href="{% url 'tracker:project/timetable' project.organization project.id %}" class="card-link"><i class="fa fa-clock-o"></i></a>
                </div>

                <div class="col-6 text-right">
{#                    <a href="#" class="card-link"><i class="fa fa-plus-circle"></i></a>#}
                    {% if project|is_tracking:user %}
                        <a href="{% url 'tracker:project/record/stop' project.organization project.id %}" class="card-link">
                            <i class="fa fa-stop-circle text-danger"></i></a>
                    {% else %}
                        <a href="{% url 'tracker:project/record/start' project.organization project.id %}" class="card-link">
                            <i class="fa fa-play-circle text-success"></i></a>
                    {% endif %}
                </div>
            </div>
            {% if project.last_updated %}
                <p class="card-text"><small class="text-muted">{{ project.last_updated }}</small></p>
            {% endif %}
        </div>
    </div>
</div>
