{% extends "trrrakk/layout.html" %}

{% load django_tables2 %}
{% load django_bootstrap_breadcrumbs %}
{% load tz %}

{% block breadcrumbs %}
    {% breadcrumb "Home" "/" %}
    {% breadcrumb organization.name "tracker:project" organization.name %}
    {% breadcrumb project.name "tracker:project/details" organization.name project.id %}
    {% breadcrumb "Timetable" "tracker:project/timetable" organization.name project.id %}
{% endblock %}

{% block content %}
    <div class="container">
        <h1>{{ project }}</h1>

        <div class="btn-toolbar mb-2" role="toolbar">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#createRecord">
                    <i class="fa fa-plus-circle"></i>
                </button>
            </div>
        </div>

        {% render_table time_records %}

        {% include 'tracker/projects.create_record.html' %}
        {% include 'tracker/projects.edit_record.html' %}
        {% include 'tracker/projects.delete_record.html' %}
    </div>
{% endblock content %}

