{% extends "tracker/base.html" %}

{% load django_tables2 %}
{% load django_bootstrap_breadcrumbs %}
{% load tz %}

{% block breadcrumbs %}
    {% breadcrumb_raw "Home" "tracker:index" %}
    {% breadcrumb_raw organization.name "tracker:project" organization.name %}
    {% breadcrumb_raw project.name "tracker:project/details" organization.name project.id %}
    {% breadcrumb_raw "Timetable" "tracker:project/timetable" organization.name project.id %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="btn-toolbar mb-2 float-right" role="toolbar">
            <div class="btn-group btn-group-sm" role="group">
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#createRecord">
                    <i class="fa fa-plus-circle"></i>
                </button>
            </div>
        </div>

        {% render_table time_records %}

        {% include 'tracker/projects.create_record.html' %}
        {% include 'tracker/projects.edit_record.html' %}
        {% include 'tracker/projects.delete_record.html' %}
    </div>
{% endblock content %}

