<div class="btn-group" role="group">
    <button type="button" class="btn btn-sm btn-secondary" data-toggle="modal" data-target="#editRecord"
            data-record_id="{{ record.id }}" data-start_time="{{ record.lstart_time }}" data-end_time="{{ record.lend_time }}">
        <i class="fa fa-pencil"></i>
    </button>
    <a class="btn btn-sm btn-secondary" href="{% url 'tracker:project/record/split' organization project.id record.id %}">
        <i class="fa fa-copy"></i>
    </a>
    <button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#deleteRecord"
        data-record_id="{{ record.id }}" data-start_time="{{ record.lstart_time }}" data-end_time="{{ record.lend_time }}">
        <i class="fa fa-times-circle"></i>
    </button>
</div>
