{% extends "trrrakk/layout.html" %}

{% block content %}
<div class="container">
    <h1>Contact</h1>
    <p>Please contact me using the mail below through GitHub or Google+</p>

    <div class="row">
        <div class="card col-md-4 col-sm-12" style="width: 18rem">
            <div class="card-body">
                <address>
                    Bruno Leupi<br />
                    Grabenstrasse 14<br />
                    6340 Baar<br />
                    <a href="mailto:bruno.leupi@gmail.com">bruno.leupi@gmail.com</a>
                </address>
                <a class="card-link btn btn-primary" href="mailto:leupibr@mac.com"><i class="fa fa-envelope"></i></a>
                <a class="card-link btn btn-primary" href="https://github.com/leupibr"><i class="fa fa-github"></i></a>
                <a class="card-link btn btn-primary" href="https://plus.google.com/u/0/+BrunoLeupi"><i class="fa fa-google-plus"></i></a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
