<footer class="footer fixed-bottom bg-light">
    <div class="container small text-muted">
        <div class="row">
            <div class="col mx-auto text-left">
                <h5>About</h5>
                <ul>
                    <li><a href="{% url 'contact' %}"><i class="fa fa-angle-double-right"></i> Contact</a></li>
                    <li><a href="{% url 'cookie-policy' %}"><i class="fa fa-angle-double-right"></i> Cookie Policy</a></li>
                </ul>
            </div>
            <span class="col">
                <h5>trrrakk</h5>
                <ul>
                    <li><a href="{% url 'release_notes' %}"><i class="fa fa-angle-double-right"></i> {{ version }}</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>