{% extends "trrrakk/layout.html" %}

{% block content %}
    <div class="container">
        <h1>Cookies policy</h1>
        <h2>Definition and uses of cookies in this site</h2>
        <p>A cookie is a small text file that’s stored on your computer or mobile device when you visit a website. We
            use them to:</p>
        <ul class="checklist">
            <li>Remember your preferences.</li>
            <li>Tailor our sites to your interests.</li>
        </ul>

        <hr/>
        <h2>What kind of cookies does this website use?</h2>
        <dl class="row">
            <dt class="col-md-3 col-sm-12">First party cookies</dt>
            <dd class="col-md-9 col-sm-12">These are set by the website when you login. Only that website can read them.</dd>

            <dt class="col-md-3 col-sm-12">Session cookies</dt>
            <dd class="col-md-9 col-sm-12">
                These are stored while you’re browsing. They get deleted from your device when you close your browser
                e.g. Internet Explorer or Safari.
            </dd>

            <dt class="col-md-3 col-sm-12">Third party cookies (Google Analytics)</dt>
            <dd class="col-md-9 col-sm-12">
                These are set by someone other than the owner of the
                website you’re visiting. Google Analytics is the tool which helps website and the owners of
                applications to understand the way in which their visitors interact with them. GA can use some
                cookies to collect statistical information regarding the user behaviour without personally
                identifying the users.
                <a href="https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage">More
                    information.</a>
            </dd>
        </dl>

        <hr/>
        <h2>Rejection or elimination of cookies</h2>
        <p>
            You can allow, block or delete the cookies installed on your computer through your browser’s
            settings options, in which case you may not be able to access certain areas of the website. If you
            wish to know how to manage your browser’s cookies, please access the following links:
        </p>
        <div class="list-group list-group-flush">
            <a class="list-group-item-action"
               href="https://support.google.com/chrome/answer/95647?hl=en">
                <i class="fa fa-chrome"></i> Google Chrome
            </a>
            <a class="list-group-item-action"
               href="https://support.mozilla.org/en-US/kb/enable-and-disable-cookies-website-preferences">
                <i class="fa fa-firefox"></i> Firefox
            </a>
            <a class="list-group-item-action"
               href="https://support.microsoft.com/en-gb/help/17442/windows-internet-explorer-delete-manage-cookies#">
                <i class="fa fa-internet-explorer"></i> Internet Explorer
            </a>

            <a class="list-group-item-action"
               href="https://support.apple.com/kb/PH17191?locale=es_ES&amp;viewlocale=en_US">
                <i class="fa fa-safari"></i> Safari
            </a>
            <a class="list-group-item-action"
               href="http://help.opera.com/Windows/11.50/en/cookies.html">
                <i class="fa fa-opera"></i> Opera
            </a>
        </div>
        <hr/>
        <h2>More information</h2>
        <p>If you wish to have more information regarding the use of cookies on this site, you can request it <a href="{% url 'contact' %}">here</a>.</p>
    </div>
{% endblock %}
