<!DOCTYPE html>
{% load static %}
{% load cookielaw_tags %}
{% load bootstrap4 %}
{% load fontawesome %}
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Trrrakk</title>

    {% bootstrap_css %}
    {% fontawesome_stylesheet %}
    <link rel="stylesheet" type="text/css" href="{% static 'cookielaw/css/cookielaw.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />

    <script src="{% static 'cookielaw/js/cookielaw.js' %}"></script>
    {% bootstrap_javascript jquery='full' %}
</head>
<body>
    {% cookielaw_banner %}
    {% bootstrap_messages %}
    {% include "navigation.html" %}

    {% block content %}{% endblock %}

</body>
</html>
